<a href="https://colab.research.google.com/github/Lajs5257/DevF-MachineLearning/blob/main/Limpieza_Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [6]:
# Drive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

ModuleNotFoundError: No module named 'google.colab'

In [7]:
import gspread
import gspread_dataframe as gd
from google.auth import default
creds, _ = default()
gc = gspread.authorize(creds)

ModuleNotFoundError: No module named 'gspread'

In [4]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [18]:
nombre_rec = 'Información de contacto (Respuestas)'
worksheet = gc.open(nombre_rec).sheet1
rows = worksheet.get_all_values()
df_coments = pd.DataFrame.from_records(rows)

SpreadsheetNotFound: ignored

In [9]:
df_coments = pd.read_csv('Información de contacto (Respuestas) - Respuestas de formulario 1.csv')

df_coments.columns = list(range(13))

In [10]:
df_coments.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,6/10/2022 18:48:37,adamianmm@gmail.com,Damian,3,CDMX,22,Hombre,"Pop, Reggaeton, Clásica, Rock, Hip Hop",Gatos,"Naruto, Grey's Anatomy, Lost",3,11:30:00 a. m.,Si
1,6/10/2022 18:49:07,sebastianzarraga43@aragon.unam.mx,Sebastian Zaaraga,10,Mexico,22,Hombre,"Reggaeton, Hip Hop","Perros, Peces","Game of Thrones , Naruto , Sons of Anarchy",1,10:00:00 a. m.,Si

In [11]:
columnas = df_coments.iloc[0,:]
columnas

0                         6/10/2022 18:48:37
1                        adamianmm@gmail.com
2                                     Damian
3                                          3
4                                       CDMX
5                                         22
6                                     Hombre
7     Pop, Reggaeton, Clásica, Rock, Hip Hop
8                                      Gatos
9               Naruto, Grey's Anatomy, Lost
10                                         3
11                            11:30:00 a. m.
12                                        Si
Name: 0, dtype: object

In [12]:
df_coments.drop(0, inplace=True)

In [13]:
df_coments.head(4)

,0,1,2,3,4,5,6,7,8,9,10,11,12
1,6/10/2022 18:49:07,sebastianzarraga43@aragon.unam.mx,Sebastian Zaaraga,10,Mexico,22,Hombre,"Reggaeton, Hip Hop","Perros, Peces","Game of Thrones , Naruto , Sons of Anarchy",1,10:00:00 a. m.,Si
2,6/10/2022 18:49:16,mariogaiden2@ciencias.unam.mx,Mario Guadiana Martinez,10,Guanajuato,27,Hombre,Hip Hop,Gatos,"Alf, príncipe de beler, prision break",2,11:00:00 a. m.,No
3,6/10/2022 18:49:33,cecy.95.ad@gmail.com,Cecilia,14,Sinaloa,26,Mujer,Pop,NaN,"one piece, siete pecados capitales.",3,11:30:00 a. m.,No
4,6/10/2022 18:49:33,fabricioescalantep@gmail.com,Fabricio E,13,CDMX,21,Hombre,"Metal, Reggaeton, Clásica, Rock, Jazz",Perros,"Mindhunter, How I Met Your Mother, Attack On T...",2,3:30:00 a. m.,Si

In [14]:
tiempo = pd.to_datetime(df_coments[0])
tiempo[:2]

C:\Users\lajs5\AppData\Local\Temp\ipykernel_27272\3432565158.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  tiempo[:2]

1   2022-06-10 18:49:07
2   2022-06-10 18:49:16
Name: 0, dtype: datetime64[ns]

In [ ]:
# tiempo.dt.second

In [15]:
df_coments['hora'] = tiempo.dt.hour+tiempo.dt.minute/60

In [ ]:
# df_coments.head()

In [16]:
correos = df_coments[1].apply(lambda x: x.split('@')[1])
df_coments['correo'] = correos.apply(lambda x: 1 if x=='gmail.com' else 0)
df_coments[1][:2].tolist(),df_coments['correo'][:2].tolist()

C:\Users\lajs5\AppData\Local\Temp\ipykernel_27272\3856506664.py:3: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df_coments[1][:2].tolist(),df_coments['correo'][:2].tolist()

(['sebastianzarraga43@aragon.unam.mx', 'mariogaiden2@ciencias.unam.mx'],
 [0, 0])

In [ ]:
# df_coments

In [17]:
df_coments['numero'] = df_coments[3].replace(np.nan,'').apply(lambda x: x if ' ' not in x else 3).replace('',0).replace('Ocho',8).astype(float)
df_coments['numero'][:2]

C:\Users\lajs5\AppData\Local\Temp\ipykernel_27272\2169017196.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df_coments['numero'][:2]

1    10.0
2    10.0
Name: numero, dtype: float64

In [18]:
df_lugares = pd.get_dummies(df_coments[4].replace('Estado de México','Edo Mex').replace('Ciudad de México ','CDMX'))
df_lugares.head(2)

,BCS,CDMX,Chiapas,Ciudad de México,Durango,Edo Mex,Estado de Mexico,Guadalajara,Guanajuato,Guerrero,...,Mexico,Morelos,Nuevo León,Puebla,Querétaro,Sinaloa,Tabasco,cdmx,departamento,edo mex
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# df_coments[5]

In [19]:
df_coments[5][df_coments[5]!='?'].astype(int).mean()

26.264705882352942

In [20]:
#Imputamos la media
df_coments['edad'] = df_coments[5].replace('?',26).astype(int)

In [21]:
df_coments['genero'] = df_coments[6].apply(lambda x: 1 if x=='Hombre' else 0)

In [22]:
df_coments[7][:2]

C:\Users\lajs5\AppData\Local\Temp\ipykernel_27272\752892274.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df_coments[7][:2]

1    Reggaeton, Hip Hop
2               Hip Hop
Name: 7, dtype: object

In [23]:
listas = df_coments[7].apply(lambda x: x.split(','))
# Aplanar una lista de listas
unicos = set([item.strip().lower() for sublist in listas.tolist() for item in sublist])
unicos

{'clásica', 'hip hop', 'jazz', 'metal', 'pop', 'reggaeton', 'rock'}

In [ ]:
# listas.apply(lambda x: 1 if 'Pop' in x else 0)

In [ ]:
# listas

In [24]:
gen = 'clásica'
# [ele.strip().lower() for ele in x] es una lista que limpia el texto ej. " Clásica" -> "clásica"
# 1 si clásica está en la lista, 0 en otro caso
listas.apply(lambda x: 1 if gen in [ele.strip().lower() for ele in x] else 0)[:2]

C:\Users\lajs5\AppData\Local\Temp\ipykernel_27272\406050720.py:4: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  listas.apply(lambda x: 1 if gen in [ele.strip().lower() for ele in x] else 0)[:2]

1    0
2    0
Name: 7, dtype: int64

In [25]:
# Lo guardo como diccionario para que se pueda leer directamente como Data Frame
generos = {}
for gen in unicos:
  generos[gen] = listas.apply(lambda x: 1 if gen in [ele.strip().lower() for ele in x] else 0)

musica = pd.DataFrame(generos)
musica.head()

   pop  jazz  reggaeton  clásica  metal  rock  hip hop
1    0     0          1        0      0     0        1
2    0     0          0        0      0     0        1
3    1     0          0        0      0     0        0
4    0     1          1        1      1     1        0
5    1     0          1        0      0     1        1

In [26]:
# Pongo el prefijo mus para saber que hablo de variables de tipo musical
musica.columns = ['mus_' + x for x in musica.columns]
df_coments = pd.concat([df_coments,musica],axis=1)

In [28]:
# Lo mismo para mascotas
listas = df_coments[8].replace(np.nan,'').apply(lambda x: x.split(','))
unicos = set([item.strip().lower() for sublist in listas.tolist() for item in sublist])

In [29]:
generos = {}
for gen in unicos:
  generos[gen] = listas.apply(lambda x: 1 if gen in [ele.strip().lower() for ele in x] else 0)

musica = pd.DataFrame(generos)
musica.columns = ['masc_' + x for x in musica.columns]
df_coments = pd.concat([df_coments,musica],axis=1)

In [30]:
df_coments.head(2)

,0,1,2,3,4,5,6,7,8,9,...,mus_reggaeton,mus_clásica,mus_metal,mus_rock,mus_hip hop,masc_,masc_otros,masc_perros,masc_gatos,masc_peces
1,6/10/2022 18:49:07,sebastianzarraga43@aragon.unam.mx,Sebastian Zaaraga,10,Mexico,22,Hombre,"Reggaeton, Hip Hop","Perros, Peces","Game of Thrones , Naruto , Sons of Anarchy",...,1,0,0,0,1,0,0,1,0,1
2,6/10/2022 18:49:16,mariogaiden2@ciencias.unam.mx,Mario Guadiana Martinez,10,Guanajuato,27,Hombre,Hip Hop,Gatos,"Alf, príncipe de beler, prision break",...,0,0,0,0,1,0,0,0,1,0

In [31]:
df_coments[9]

1            Game of Thrones , Naruto , Sons of Anarchy
2                 Alf, príncipe de beler, prision break
3                   one piece, siete pecados capitales.
4     Mindhunter, How I Met Your Mother, Attack On T...
5                The 100, the rings of power, one piece
6         Game of Thrones, The Serpent Queen, Mr. Robot
7                 Dark, Mindhunter, The Midnight Gospel
8                       rick & morty, the 100, hannibal
9                                Reign, Suits, Millions
10              Malcolm el de enmedio, Hannibal, Dexter
11    Los chicos son mejores que las flores, La teor...
12                   Vikingos, Good Girls, Rick y Morty
13                          Dragon ball z,jojos, bleach
14               Game of Thrones, Friends, Heartstopper
15                               BCS, One Piece, Malcom
16                        D gray man, roleplay, Ladybug
17                       Gossip girl, Big Mouth, Avatar
18               Breaking Bad, Vikings, Game of Thrones
19                  Stranger things, Dark, White collar
20    One piece, sandman, el gabinete de las curiosi...
21                  The Boys, Rick & Morty, The Office
22             attack on titan, Breaking Bad, Star Wars
23                The Office, House of Dragons, Friends
24      Los Simpson, Anillos del poder, Game of Thrones
25               Naruto, One piece, the big bang theory
26    Breaking Bad, Spartacus, Avatar: The Legend of...
27                   Game of thrones, Los 100, The Boys
28              Game of Thrones,  Mandalorian, The Boys
29         Malcolm in the Middle, Dexter, The Mentalist
30       breaking bad, better call Saùl, Silicon valley
31    En pocas palabras, sombra y hueso, un dia a la...
32          betty la fea, los 100, vida en otro planeta
33                       malcolm, top boy, breaking bad
34      The Office, How I Met Your Mother, Breaking Bad
35               House of Cards, Billions, Black Mirror
Name: 9, dtype: object

In [32]:
listas = df_coments[9].apply(lambda x: x.split(','))

unicos = [item.strip().lower() for sublist in listas.tolist() for item in sublist]
populares = pd.Series(unicos).value_counts().head(10).index.tolist()
populares

['game of thrones',
 'breaking bad',
 'one piece',
 'the boys',
 'the office',
 'naruto',
 'the 100',
 'dexter',
 'hannibal',
 'rick & morty']

In [33]:
for i in range(len(populares)):
  if i==0:
    pops = listas.apply(lambda x: 1 if populares[i] in [ele.strip().lower() for ele in x] else 0)
  else:
    pops_ = listas.apply(lambda x: 1 if populares[i] in [ele.strip().lower() for ele in x] else 0)

    pops += pops_

df_coments['populares'] = pops

In [ ]:
# df_coments['populares']

In [34]:
df_coments['extro_scale'] = df_coments[10].astype(int)

In [ ]:
# [c for c in df_coments.columns if c not in range(13)]

In [35]:
#Quitamos las columnas de texto
df_coments[[c for c in df_coments.columns if c not in range(40)]].head()

,hora,correo,numero,edad,genero,mus_pop,mus_jazz,mus_reggaeton,mus_clásica,mus_metal,mus_rock,mus_hip hop,masc_,masc_otros,masc_perros,masc_gatos,masc_peces,populares,extro_scale
1,18.816667,0,10.0000,22,1,0,0,1,0,0,0,1,0,0,1,0,1,2,1
2,18.816667,0,10.0000,27,1,0,0,0,0,0,0,1,0,0,0,1,0,0,2
3,18.816667,1,14.0000,26,0,1,0,0,0,0,0,0,1,0,0,0,0,1,3
4,18.816667,1,13.0000,21,1,0,1,1,1,1,1,0,0,0,1,0,0,0,2
5,18.816667,1,1.6811,24,1,1,0,1,0,0,1,1,0,0,1,0,0,2,3